{
    "errorMessages": [
        "The attachment could not be deleted because it belongs to the test case step."
    ],
    "valid": false,
    "fullErrorMessages": [
        {
            "message": "The attachment could not be deleted because it belongs to the test case step."
        }
    ]
}