{
    "fullErrorMessages": [
        {
            "message": "You cannot delete executions created in the last 3 months"
        }
    ],
    "errorMessages": [
        "You cannot delete executions created in the last 3 months"
    ],
    "valid": false
}