# TestResult

## Properties

| Name                | Type                                            | Description | Notes      |
|---------------------|-------------------------------------------------|-------------|------------|
| **estimatedTime**   | **BigDecimal**                                  |             | [optional] |
| **executedBy**      | **String**                                      |             | [optional] |
| **actualEndDate**   | **OffsetDateTime**                              |             | [optional] |
| **traceLinks**      | **List&lt;String&gt;**                          |             | [optional] |
| **executionDate**   | **OffsetDateTime**                              |             | [optional] |
| **scriptResults**   | [**List&lt;ScriptResult&gt;**](ScriptResult.md) |             | [optional] | 
| **assignedTo**      | **String**                                      |             | [optional] |
| **userKey**         | **String**                                      |             | [optional] |
| **executionTime**   | **Integer**                                     |             | [optional] |
| **testCaseKey**     | **String**                                      |             | [optional] |
| **environment**     | **String**                                      |             | [optional] |
| **automated**       | **Boolean**                                     |             | [optional] |
| **actualStartDate** | **OffsetDateTime**                              |             | [optional] |
| **comment**         | **String**                                      |             | [optional] |
| **id**              | **Integer**                                     |             | [optional] |
| **projectKey**      | **String**                                      |             | [optional] |
| **projectId**       | **Integer**                                     |             | [optional] |
| **key**             | **String**                                      |             | [optional] |
| **status**          | **String**                                      |             | [optional] |
| **customFields**    | **Map&lt;String, String&gt;**                   |             | [optional] |
| **attachments**     | [**List&lt;Attachment&gt;**](Attachment.md)     |             | [optional] |



